* { margin: 0; padding: 0;}

html, body {
  overflow: hidden;
  font-family: 'Varela Round', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  background: #f0f0f0;
}

#app {
  width: 100vw;
  height: 100vh;
}

input {
  padding: 6px;
  border-radius: 5px;
  font-size: inherit;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.hidden {
  display: none !important;
}

#home {
  text-align: center;
}

#home ul li {
  display: inline-block;
}

#home ul.previous-sessions li {
  list-style: circle;
  display: block;
}

#gameplay {
  display: flex;
}

#gameplay:not(.loading) .spinner {
  display: none;
}

#gameplay section.sidebar {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  height: 100vh;
  width: 300px;
  border-right: 1px dashed #000;
}

#gameplay section.sidebar .info {
  /* border-radius: 4px; */
  text-align: center;
  background: rgba(255, 0, 144);
  color: #fff;
  padding: 8px;
}

#gameplay section.sidebar .info .mode {
  background: #fff;
  color: rgba(255, 0, 144);
  border-radius: 4px;
  font-size: 0.9em;
  padding: 4px 8px;
  margin-bottom: 4px;
  display: inline-block;
}

#gameplay section.sidebar .info a {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  color: rgba(255, 0, 144);
  border-radius: 4px;
  font-size: 0.9em;
  padding: 4px 8px;
}

#gameplay section.sidebar .people {
  flex: 1;
  padding: 0.6em;
  border-bottom: 1px dashed #000;
}

#gameplay section.sidebar .people li {
  padding: 0 4px;
}

#gameplay section.sidebar .people li.you {
  background: rgba(0, 255, 0, 0.3);
  border-radius: 4px;
}

#gameplay section.sidebar .chat {
  overflow-y: auto;
  max-height: 50vh;
}

#gameplay section.sidebar .chat ul {
  align-self: flex-end;
  word-break: break-word;
  padding: 0.6em;
}

#gameplay .drawing-area {
  position: relative;
  width: 800px;
  height: 740px;
}

.tools {
  padding: 4px;
}
.tools label {
  border-radius: 4px;
  padding: 4px 8px;
  background: #c2c2c2;
}

.tools input[type=radio] { display: none; }
.tools input[type=radio]:checked + label { background: #00ff0f; }

#gameplay canvas.drawing {
  position: absolute;
  left: 0;
  top: 46px;
  background: #fff;
}
#gameplay canvas.drawing-preview {
  position: absolute;
  left: 0;
  top: 46px;
}

/* loading spinner! */
.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 90px;
  z-index: 1;
  margin: auto;
  display: inline-block;
  width: 64px;
  height: 64px;
}
.spinner div { position: absolute; top: 27px; width: 11px; height: 11px; border-radius: 50%; background: #000; animation-timing-function: cubic-bezier(0, 1, 1, 0); }
.spinner div:nth-child(1) { left: 6px; animation: spinner1 0.6s infinite; }
.spinner div:nth-child(2) { left: 6px; animation: spinner2 0.6s infinite; }
.spinner div:nth-child(3) { left: 26px; animation: spinner2 0.6s infinite; }
.spinner div:nth-child(4) { left: 45px; animation: spinner3 0.6s infinite; }
@keyframes spinner1 { 0% { transform: scale(0); } 100% { transform: scale(1); } }
@keyframes spinner3 { 0% { transform: scale(1); } 100% { transform: scale(0); } }
@keyframes spinner2 { 0% { transform: translate(0, 0); } 100% { transform: translate(19px, 0); } }
